/* Footer Styles */
.footer footer {
    text-align: center;
    background: #282c34;
    color: #fff;
    padding: 10px 0;
    margin-top: 32px;
  }
  
  .footer footer p {
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        text-align: center;
    }
  
    .text-container {
        margin-bottom: 30px;
    }
  }